*{
    -webkit-tap-highlight-color: transparent;
    font-family: Vazir, serif!important;
    letter-spacing: unset !important;
    @apply selection:bg-[#D1E0FF] select-none
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

@font-face {
    font-family: Vazir;
    src: url('@/../public/fonts/Vazir-Regular.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: rYekan;
    src: url("@/../public/fonts/yeknBakh/Yekan Bakh FaNum 04 Regular.woff") format('woff');
    src: url("@/../public/fonts/yeknBakh/Yekan Bakh FaNum 04 Regular.eot");
    src: url("@/../public/fonts/yeknBakh/Yekan Bakh FaNum 04 Regular.ttf") format('truetype');
}
